# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Data (if large or private)
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/masks/*
!data/masks/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Reports / generated PDFs
reports/pdf/*
!reports/pdf/.gitkeep
reports/dicom_seg/*
!reports/dicom_seg/.gitkeep
reports/dicom_sr/*
!reports/dicom_sr/.gitkeep
reports/gradcam_outputs/*
!reports/gradcam_outputs/.gitkeep

models/resnet18*
models/best_model.pth

Tree.md
data.zip