# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Data (if large or private)
data/raw/
data/preprocessed/
data/masks/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Reports / generated PDFs
reports/pdf/
reports/dicom_seg/
reports/dicom_sr/
reports/gradcam_outputs


models/resnet18*